body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.bodyWrapper {
    margin-left: 15%;
}

#welcomeMessageWrapper {
    margin-top: 3%;
    margin-left: 5%;
}

.welcomeMessage {
    font-weight: 500;
    font-size: 1.8rem;
}

#createNewQuizWrapper {
    text-align: center;
    background-color: hsl(0, 0%, 96.5%);
    border-radius: 20px;
    width: 90%;
    height: 33vh;
}

.createNewQuizButtonsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#createNewQuizContainer {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

#mySetsMessageWrapper {
    margin-top: 3%;
    margin-left: 5%;
    text-align: center;
    margin-top: 5%;
    background-color: pink;
}

#mySetsMessage {
    font-weight: 500;
    font-size: 1.3rem;
}

.dashboardMenu {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 8px 0 10px -4px rgba(0,0,0,0.1);
    height: 100vh;
    width: 15%;
    top: 0;
    left: 0;

}

.dashboardMenuButtons {
    padding: 7%;
    background-color: white;
    border: none;
    cursor: pointer;
    text-align: left;
    padding-left: 25%;
    font-size: 1rem;
    cursor: pointer;
}

.dashboardMenuButtons:hover {
    color: hsl(240, 100%, 65%);
}

#dashboardMenuHome {
    margin-top: -5%;
}

.activeMenuButton {
    background-color: hsl(240, 100%, 95%);
    border-left: 4px solid hsl(240, 100%, 60%);
    text-indent: -3%;
}

#dashboardMenuLogoWrapper {
    width: 70%;
    margin-top: 0%;
    margin-bottom: 7%;
    padding: 1;
    padding-left: 10%;
}

#dashboardMenuLogo {
    font-size: 2rem;
    font-weight: 700;
    color: hsl(205, 100%, 10%);
}

#createNewQuizDescription {
    font-weight: 500;
    font-size: 1.2rem;
    justify-self: left;
    margin-left: 5%;
    font-weight: 450;
    margin-top: 2.5%;
    margin-bottom: 1.25%;
}

.createNewQuizButtons {
    background-color: white;
    border: none;
    padding: 3% 5%;
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
    width: 42%;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 3%;
    border: 1px solid hsl(0, 0%, 96.5%);
    transition: border 0.3s ease, color 0.3s ease;
    text-align: center;
    display: flex;
    justify-content: center;
}

.createNewQuizButtons:hover {
    border: 1px solid hsl(240, 100%, 65%);
    color: blue;
    transition: border 0.3s ease, color 0.3s ease;
}

#setDecorImg {
    width: 7%;
    margin-top: 1%;
    margin-bottom: 1%;
    opacity: 0.7;
}

#createNewQuizPlus {
    width: 12%;
    height: 12%;
    max-width: 35px;
    max-height: 35px;
    margin-bottom: 6%;
    align-self: center;
}

#createNewQuizManualButton {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#createNewQuizImport {
    width: 12%;
    height: 12%;
    max-width: 35px;
    max-height: 35px;
    margin-bottom: 6%;
    align-self: center;
}

#createNewQuizImportButton {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.newsWrapper,
.upgradeWrapper,
.supportWrapper {
    margin-left: 20%;
    margin-top: 2.5%;
    margin-right: 5%;
}

.upgradeWrapper {
    text-align: center;
}

#supportBody {
    width: 50%;
}

.supportDescription {
    font-size: 1.1rem;
    margin-top: 4%;
    margin-bottom: 4%;
    line-height: 2rem;
}

#supportButton {
    background-color: hsl(240, 100%, 63%);
    border: none;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    padding: 1%;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s, box-shadow 0.3s;
    width: 20rem;
    height: 2.5rem;
}

#supportButton:hover {
    background-color: hsl(240, 100%, 40%);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.newsContentWrapper {
    margin-top: 6%;
    font-size: 1.1rem;
    line-height: 1.8rem;
}

.wrapperBody1 {
    margin-top: 15%;
}

.upgradePlansWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4%;
    margin-top: 5%;
}

.upgradePlanBox {
    background-color: hsl(240, 100%, 95%);
    width: 20rem;
    height: 35rem;
    text-align: left;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    border-radius: 15px;
}

.upgradePlanBoxText {
    font-size: 1.5rem;
    font-weight: 600;
}

.priceTag {
    font-size: 2.5rem;
}

.purchaseButton {
    background-color: hsl(240, 100%, 63%);
    color: white;
    border: none;
    width: 100%;
    height: 3rem;
    border-radius: 30px;
    margin-top: 0%;
    margin-bottom: 5%;
    transition: background-color 0.3s, box-shadow 0.3s;
    font-weight: 1000;
}

.purchaseButton:hover {
    background-color: hsl(240, 100%, 40%);
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
    font-weight: 1000;
}

.priceTagDescription {
    margin-top: -3%;
    font-weight: 600;
    margin-bottom: 8%;
}

#savedSetsWrapper {
    text-align: left;
    margin-top: 3%;
    margin-left: 5%;
}

.savedSetContainer {
    width: 93%;
    height: 10vh;
    padding-left: 2%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 2%;
    border: 1px solid hsl(0, 0%, 90%);
    transition: transform 0.3s ease, box-shadow 0.3s ease
}

.savedSetContainer:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease
}

.savedSetTitle {
    font-size: 1.2rem;
    font-weight: 500;
}

.savedSetCardCount {
    font-size: 0.85rem;
    color: hsl(0, 0%, 40%);
}