body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.bodyWrapper {
    margin-left: 15%;
}

#welcomeMessageWrapper {
    margin-top: 3%;
    margin-left: 5%;
}

#welcomeMessage {
    font-weight: 500;
    font-size: 1.8rem;
}

#createNewQuizWrapper {
    text-align: center;
    background-color: hsl(0, 0%, 96.5%);
    border-radius: 20px;
    width: 90%;
    height: 33vh;
}

.createNewQuizButtonsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#createNewQuizContainer {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

#mySetsMessageWrapper {
    margin-top: 3%;
    margin-left: 5%;
    text-align: center;
    margin-top: 5%;
}

#mySetsMessage {
    font-weight: 500;
    font-size: 1.3rem;
}

.dashboardMenu {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 8px 0 10px -4px rgba(0,0,0,0.1);
    height: 100vh;
    width: 15%;
    top: 0;
    left: 0;

}

.dashboardMenuButtons {
    padding: 7%;
    background-color: white;
    border: none;
    cursor: pointer;
    text-align: left;
    padding-left: 25%;
    font-size: 1rem;
    cursor: pointer;
}

.dashboardMenuButtons:hover {
    color: hsl(240, 100%, 65%);
}

#dashboardMenuHome {
    margin-top: -5%;
    background-color: hsl(240, 100%, 95%);
    border-left: 4px solid hsl(240, 100%, 60%);
    text-indent: -3%;
}

#dashboardMenuLogoWrapper {
    width: 70%;
    margin-top: 0%;
    margin-bottom: 7%;
    padding: 1;
    padding-left: 10%;
}

#dashboardMenuLogo {
    font-size: 2rem;
    font-weight: 700;
    color: hsl(205, 100%, 10%);
}

#createNewQuizDescription {
    font-weight: 500;
    font-size: 1.2rem;
    justify-self: left;
    margin-left: 5%;
    font-weight: 450;
    margin-top: 2.5%;
    margin-bottom: 1.25%;
}

.createNewQuizButtons {
    background-color: white;
    border: none;
    padding: 3% 5%;
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
    width: 42%;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 3%;
    border: 1px solid hsl(0, 0%, 96.5%);
    transition: border 0.3s ease, color 0.3s ease;
    text-align: center;
    display: flex;
    justify-content: center;
}

.createNewQuizButtons:hover {
    border: 1px solid hsl(240, 100%, 65%);
    color: blue;
    transition: border 0.3s ease, color 0.3s ease;
}

#setDecorImg {
    width: 7%;
    margin-top: 1%;
    margin-bottom: 1%;
    opacity: 0.7;
}

#createNewQuizPlus {
    width: 12%;
    height: 12%;
    margin-bottom: 6%;
    align-self: center;
}

#createNewQuizManualButton {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#createNewQuizImport {
    width: 12%;
    height: 12%;
    margin-bottom: 6%;
    align-self: center;
}

#createNewQuizImportButton {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}