body {
    background-color: hsl(0, 0%, 97%);
}

.dashboardMenu {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 5%;
    padding-top: 0.5%;
}

#dashboardMenuBigText {
    color: black;
    font-size: 3em;
    margin-bottom: 2%;
    padding: 1% 2%;
    background-color: hsl(0, 0%, 97%);
}

.tabButtons {
    background-color: hsl(0, 0%, 97%);
    border: none;
    font-size: 1em;
    padding: 1% 2%;
}

.tabButtons:hover {
    cursor: pointer;
    background-color: hsl(0, 0%, 93%)
}

#tabButtonOne {
    margin-left: 2%;
}