body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    margin-left: 15%;
}

#welcomeMessageWrapper {
    margin-top: 3%;
    margin-left: 5%;
}

#welcomeMessage {
    font-weight: 500;
    font-size: 1.8rem;
}

#createNewQuizWrapper {
    text-align: center;
    background-color: hsl(0, 0%, 96%);
    border-radius: 10px;
    width: 50%;
    height: 30vh;
}

#createNewQuizContainer {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

#mySetsMessageWrapper {
    margin-top: 3%;
    margin-left: 5%;
}

#mySetsMessage {
    font-weight: 500;
    font-size: 1.8rem;
}

.dashboardMenu {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 8px 0 10px -4px rgba(0,0,0,0.1);
    height: 100vh;
    width: 15%;
    top: 0;
    left: 0;

}

.dashboardMenuButtons {
    padding: 10%;
    background-color: white;
    border: none;
    cursor: pointer;
    text-align: left;
    padding-left: 25%;
    font-size: 1rem;
    cursor: pointer;
}

.dashboardMenuButtons:hover {
    color: hsl(240, 100%, 65%);
}

#dashboardMenuHome {
    margin-top: 15%;
    background-color: hsl(240, 100%, 95%);
    border-left: 4px solid hsl(240, 100%, 60%);
}