.homeBody {
    text-align: center;
    margin-top: 10%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#introSignInText {
    font-size: 1.25em;
    margin-bottom: 1.5%;
    font-weight: 400;
}

#introSignInSmallText {
    font-size: 0.85em;
    color: hsl(0, 0%, 20%);
    font-weight: 300;
}

.signInButtonWrapper {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}