.homeBody {
    text-align: center;
    margin-top: 10%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#introSignInText {
    font-size: 20px;
    margin-bottom: 1.5%;
    font-weight: 400;
}

#introSignInSmallText {
    font-size: 14px;
    color: hsl(0, 0%, 20%);
    font-weight: 300;
}

#temporarySignInButton {
    background-color: white;
    border: 1.3px solid hsl(0, 0%, 80%);
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 2%;
    cursor: pointer;
    transition: border 0.5s ease;
    transition: background-color 1s ease;
}

#temporarySignInButton:hover {
    border: 1.3px solid hsl(240, 100%, 85%);
    background-color: hsl(240, 100%, 96%);
    transition: border 0.5s ease;
    transition: background-color 1s ease;
}