
.header {
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerMessageWrapper {
    margin-left: 10%;
}

.headerButtonWrapper {
    margin-right: 10%;
    display: flex;
    justify-content: flex-end;
}

.headerMessage {
    font-weight: 500;
    font-size: 1.8rem;
}

.headerButton {
    background-color: hsl(240, 100%, 63%);
    border: none;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    padding: 1%;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s, box-shadow 0.3s;
    width: 6rem;
    height: 2.5rem;
    font-family: inherit;
}

.headerButton:hover {
    background-color: hsl(240, 100%, 40%);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.statsWrapper {
    margin-top: 2%;
    text-align: center;
}

.titleInputField {
    width: 80%;
    height: 3.5rem;
    background-color: hsl(0, 0%, 97%);;
    border: none;
    font-weight: 600;
    border-radius: 10px;
    box-sizing: border-box;
    padding-left: 2%;
    margin-bottom: 1%;
    color: hsl(240, 100%, 10%);;
    font-family: inherit;
}

.titleInputField:focus {
    outline: none;
    box-shadow: 0 0 12px hsl(240, 100%, 95%), 0 0 24px hsl(240, 100%, 95%), 0 0 36px hsl(240, 100%, 95%);

}

#descriptionInputField {
    height: 5rem;
    vertical-align: top;
    padding-top: 1%;
    font-family: inherit;
}

.flashcardWrapper {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    height: 7rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.flashcardInput {
    border: none;
    background-color: hsl(0, 0%, 97%);
    width: 80%;
    height: 50%;
    border-radius: 10px;
    padding-left: 2%;
    font-family: inherit;
}

.flashcardInput:focus {
    outline: none;
    box-shadow: 0 0 8px hsl(240, 100%, 95%), 0 0 16px hsl(240, 100%, 95%), 0 0 24px hsl(240, 100%, 95%);
}

#flashcardTermInput {
    margin-left: 3%;
}

#flashcardDefInput {
    margin-right: -1.5%;
}

.addCardWrapper {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 7%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.addCard {
    background-color: hsl(0, 0%, 96%);
    border: none;
    font-size: 0.9rem;
    width: 10%;
    height: 70%;
    border-radius: 30px;
    font-family: inherit;
    color: hsl(0, 0%, 30%);
    transition: background-color 0.5s ease;
    font-weight: 550;
}

.addCard:hover {
    background-color: hsl(0, 0%, 90%);
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.deleteFlashcardButton {
    margin-left: 0%;
    margin-right: 1.5%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 0.5rem;
    transition: background-color 0.3s;
}

.deleteFlashcardButton:hover {
    background-color: hsl(0, 0%, 94%);
    transition: background-color 0.3s;
}

.trashBin {
    width: 1.2rem;
    height: 1.2rem;
    opacity: 0.6;
}