
.header {
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerMessageWrapper {
    margin-left: 10%;
}

.headerButtonWrapper {
    margin-right: 10%;
    display: flex;
    justify-content: flex-end;
}

.headerMessage {
    font-weight: 500;
    font-size: 1.8rem;
}

.headerButton {
    background-color: hsl(240, 100%, 63%);
    border: none;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    padding: 1%;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s, box-shadow 0.3s;
    width: 6rem;
    height: 2.5rem;
}

.headerButton:hover {
    background-color: hsl(240, 100%, 40%);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.statsWrapper {
    margin-top: 2%;
    text-align: center;
}

.titleInputField {
    width: 80%;
    height: 3.5rem;
    background-color: hsl(0, 0%, 97%);;
    border: none;
    font-weight: 600;
    border-radius: 10px;
    box-sizing: border-box;
    padding-left: 2%;
}

.titleInputField:focus {
    outline: none;
    box-shadow: 0 0 12px hsl(240, 100%, 95%), 0 0 24px hsl(240, 100%, 95%), 0 0 36px hsl(240, 100%, 95%);

}